RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} =http
RewriteCond %{HTTP_HOST} ^(www\.startdoctor\.net|startdoctor\.net)
RewriteRule .* https://www.startdoctor.net%{REQUEST_URI} [L,R=permanent]
          
